html {
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ytbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 2;
  color: #fff;
}

.text-wrapper {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.timer {
  font-size: 94px;
  font-weight: bold;
}
